<article class="container-fluid">
    <!-- <div class="row">
        <div class="col-xl-12">
            <div class="table-responsive-md">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="3">
                                Datos del empleador
                            </th>
                            <th colspan="3">
                                <div class="d-flex justify-content-center">
                                    <button type="button" mdbBtn color="success" class="relative waves-light"
                                        (click)="basicModal.show()" mdbWavesEffect>
                                        Crear Empleador
                                    </button>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>Tipo de Documento</th>
                            <th>Documento</th>
                            <th>Nombre de la empresa</th>
                            <th colspan="3">
                                Opciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>NIT</td>
                            <td>12345678</td>
                            <td>HeinSohn</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" mdbBtn color="info" class="relative waves-light"
                                        mdbWavesEffect>
                                        Consultar
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" mdbBtn color="warning" class="relative waves-light"
                                        mdbWavesEffect>
                                        Modificar
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" mdbBtn color="danger" class="relative waves-light"
                                        mdbWavesEffect>
                                        Eliminar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            &nbsp;
        </div>
    </div> -->
    <div class="row">
        <div class="col-xl-12">
            <table mdbTable class="table" striped="true">
                <thead class="black white-text">
                    <tr>
                        <th colspan="3">Datos de los empleadores</th>
                        <th colspan="4">
                            <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect
                            (click)="usuarioIndice = null; nombreInput = ''; basicModal.show()">
                                Crear Empleador
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <th *ngFor="let head of headElements" scope="col">{{head}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol *ngFor="let empleador of empleadores; let i = index">
                            <td scope="row">{{i}}</td>
                            <td>
                                {{empleador.documento}}
                            </td>
                            <td>
                                {{empleador.nombre}}
                            </td>
                            <td>
                                {{empleador.actividad}}
                            </td>
                           <!--  <td>
                                {{empleador.email}}
                            </td> -->
                            <td>
                                {{empleador.direccion}}
                            </td>
                            <td>
                                {{empleador.telefono}}
                            </td>
                            <td>
                                <button type="button" mdbBtn color="info" class="relative waves-light" mdbWavesEffect>
                                    Consultar
                                </button>
                                <button type="button" mdbBtn color="warning" class="relative waves-light" mdbWavesEffect (click)="editUsuarioPopularForm(i); basicModal.show()">
                                    Modificar
                                </button>
                                <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect (click)="deleteUsuario(i)">
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                   <!--  <tr>
                        <td>1</td>
                        <td>12345678</td>
                        <td>HeinSohn</td>
                        <td>Desarrollo de Software</td>
                        <td>admin@heinsohn.com.co</td>
                        <td>Calle falsa 123</td>
                        <td>2178264</td>
                        <td>
                            <button type="button" mdbBtn color="info" class="relative waves-light" mdbWavesEffect>
                                Consultar
                            </button>
                            <button type="button" mdbBtn color="warning" class="relative waves-light" mdbWavesEffect>
                                Modificar
                            </button>
                            <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect>
                                Eliminar
                            </button>
                        </td> 
                    </tr>-->
                </tbody>
            </table>
            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 *ngIf="usuarioIndice != null" class="modal-title w-100" id="myModalLabel">
                                Editar Empleador
                            </h4>
                            <h4 *ngIf="usuarioIndice == null" class="modal-title w-100" id="myModalLabel">
                                Nuevo Empleador
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="md-form">
                                <input type="text" id="documento" class="form-control" mdbInput [(ngModel)]="documentoInput" />
                                <label for="documento">Documento:&nbsp;</label>
                            </div>
                            <div class="md-form">
                                <input type="text" id="nombre" class="form-control" mdbInput [(ngModel)]="nombreInput" />
                                <label for="nombre">Nombre:&nbsp;</label>
                            </div>
                            <div class="md-form">
                                <input type="text" id="actividad" class="form-control" mdbInput [(ngModel)]="actividadInput" />
                                <label for="actividad">Actividad:&nbsp;</label>
                            </div>
                            <!-- <div class="md-form">
                                <input type="text" id="email" class="form-control" mdbInput [(ngModel)]="emailInput" />
                                <label for="email">Email:&nbsp;</label>
                            </div> -->
                            <div class="md-form">
                                <input type="text" id="direccion" class="form-control" mdbInput [(ngModel)]="direccionInput" />
                                <label for="direccion">Dirección:&nbsp;</label>
                            </div>
                            <div class="md-form">
                                <input type="text" id="telefono" class="form-control" mdbInput [(ngModel)]="telefonoInput" />
                                <label for="telefono">Teléfono:&nbsp;</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" mdbBtn color="brown" class="waves-light" aria-label="Close"
                                (click)="basicModal.hide()" mdbWavesEffect>
                                Cerrar
                            </button>
                            <button type="button" mdbBtn color="cyan" class="relative waves-light" mdbWavesEffect (click)="
                          usuarioIndice == null ? createUsuario() : guardarEdicionUsuario()
                        ">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12"></div>
    </div>
</article>